<section class="prose">

<h3>About Me</h3>   
<div class="flex flex-col gap-4">
<p>
I'm Richard Whaling.  I spent most of the last decade working in scaled-up fintech, leading data, analytics, and ML teams, and I spent most of the decade before that in academia, doing NLP and database research.  Now I'm the founder of semistructured.ai.
<br/><br/>   
My background in business, finance, research, and leadership gives me a perspective that differs from many AI insiders - when I read a new research paper, I think about practical implications, what real-world problems it might solve, and what new problems and risks it might create.
<br/><br/>
I created this company because I feel a deep since of urgency to help people and businesses prepare themselves for the rapid changes AI is bringing.  
I'll be doing my best to keep up, and I'm always happy to grab coffee and compare notes with anyone else who is trying to wrap their head around it all.
</p>
</div>
<h3>What does "semistructured" mean?</h3>
<div class="flex flex-col gap-4">
<p>
"Semistructured data" is an old-fashioned technical term that was used to refer to data that mixed natural human language with machine-readable structure, exemplified by markup formats like SGML, XML, and HTML.  
This kind of data didn't fit naturally into the tables of a relational database, but it seems to be a very natural representation of documents in the real world - 
and this kind of logically structured document is the foundation of so much of our civil and economic life.
<br/><br/>
I'll write more about the implications of this, too, but I'll say for now that my hope for AI is that it allows us to build computer systems that are more human-centered, more accessible, and more intuitive than the ones we built in the 20th century, and that as I start to think through what that kind of world could look like, I begin to feel more optimism about where things are going.
</p>
</div>
</section>