<section class="prose">
  <p>
    We focus on AI safety, governance, controls, and processes,
    with a deep background in regulated industries and model risk managment, 
    as well as a passion for distributed systems, natural language processing, and all things geeky.
  <h1 class="mt-8 mb-3 text-lg font-bold">What do we do?</h1>
  <ul>
    <li>
      <strong>Consulting </strong>We are always happy to talk about the latest AI research, 
      and learn about how they impact your business, and how we can help you navigate whatever's next.
    </li>
    <li>
      <strong>Development </strong>Do you have a problem that you think AI can solve?
      An annoying process that you think AI can automate?  Let's talk about it.
    </li>
    <li>
      <strong>Education </strong>We teach AI Engineering and technical AI Safety, 
      via an accelerated, intensive course based on <a href="https://www.arena.education/">ARENA</a>, 
      to students from a wide variety of backgrounds. 
      We can teach standard courses, or develop custom curricula and materials to suit your needs.  
    </li>
    <li>
      <strong>Open Source </strong>We do as much work as possible in the open, 
      because we believe that the next several years will present historical challenges to all of us, 
      and we are committed to sharing everything that we can to the broadest possible audience.
    </li>
  </ul>
</section>
